.nav-link {
    color: white !important;
  }

  .navbar-toggler-icon{
    color: white !important;
  }
  
  .navbar-toggler span {
    transition: transform 2s ease-in-out;
  }

  nav ul li:hover {
    background-color: rgb(43, 43, 43) !important;
  }

  @media (max-width: 767px) {
    .navbar-nav li.nav-item {
      margin-bottom: 1rem;
    }
  
    .navbar-nav li.nav-item a.nav-link {
      padding: 1rem;
      font-size: 1.5rem;
    }
    
  }